
.navcontainer {
  background-color: rgb(240, 240, 240);
  text-align: center;
  height: 5px;
}

.brandname {
  color: white;
  font-family: "Playfair Display", serif;
}

body {
  background-color: rgb(226, 225, 225);
}

.container {
  /* background-color: rgba(240, 239, 238, 0.856); */
  margin: 50px;
}

.row2 {
  margin-top: 30px;
}

#ProfilePic {
  border-radius: 200px;
  float: left;
  margin-right: 20px;
}

.nav-link{
  color: black;
}

#currentPage{
text-align: center;
}

.links{
margin-left: 300px;}

.info{
  align-self: center;
  margin-bottom: 50px;
}

.logo{
margin-right: 50px;  }

.projectpic{
    height: 300px;
  width: 400px;
  border-radius: 25px;
} 

.projectsblock{
  margin-left: 50px;
} 

.projectBlock{
  /* content: url(https://zakfena.github.io/Flight-Quote-Scanner/); */
 margin-left: 200px;
}

.projects{
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
}